/* app/globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Definimos las variables puras aquí para reusarlas */
  --brand-forest: #064e3b;
  --brand-slate: #1e293b;
  --brand-warm: #78350f;
  --offwhite: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* REGISTRO DE COLORES PARA TAILWIND V4 */
  --color-brand-forest: var(--brand-forest);
  --color-brand-slate: var(--brand-slate);
  --color-brand-warm: var(--brand-warm);
  --color-brand-offwhite: var(--offwhite);
}

.react-calendar-heatmap .color-empty {
  fill: rgba(255, 255, 255, 0.03);
}
.react-calendar-heatmap .color-scale-1 {
  fill: #10b98120;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #10b98160;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #10b981;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #059669;
}
.react-calendar-heatmap rect {
  rx: 2px;
  ry: 2px;
}
